.nav-container{

    display: flex;
    flex-direction: row;
    background-color: black;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.item{
    margin: 0px 100px 0px 100px;
}