

.content-container{
    flex: 1;
    background-color:white;
}


.games-container{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
}
.searchForm{
    justify-content: center;
    display: flex;
    margin-top: 100px;
}
.navbar {
    background-color: rgb(20, 19, 19);
    height: 80px;
}

.item{
    color: whitesmoke;
    cursor: pointer;

}
.item:hover{
    color: yellow;

}
.nav-content{
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cardButton{
    background-color: white;
    border: 1px solid green;
    color: green;
}
.cardButton:hover{
    background-color: green;
}