

.content-container{
    flex: 1;
    background-color:white;
}
.welcome{
    color: 'black'; 
    margin-top: 90px; 
    text-align: center; 
    padding-top: 25px 
}

.games-container{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
}
.modal-div{
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    background-color: 'black';
    width:  100%;
}